.arriba {
    color: black;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    font-family:monospace;
}


.imgDetail {
    height: 150px;
    width: 150px;
    align-self: center;
    border-radius: 20px;
    margin-top: 20px;
    position: relative;
    left: -115px;
    top: 110px;
}


.nameEvo{
    position: relative;
    left: -70px;
    top: 60px
}

.detail{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -7em;
    left: 18.5em;
}

.detailEvo{
    display: flex;
    flex-direction: row;
    position: relative;
    top: -100px;
    left: 240px;
}

.titleGame {
    align-self: center;
    position: relative;
    left: -6em;
    top: 2em;
}

.pContainer{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 15px;
}

.pContainer p{
    margin: 5px;
}



/* .descriptionGame{
    margin: 20px;
} */

.contdetail {
    /* 450px */
    height: 29em;
    width: 27.9em;
    background-image: url('../../dex.png');
    background-size: 28em 29em;
    margin: 15px auto;
}

.btnEv {
    background: orange;
    border-radius: 5px;
    text-align: start;
    width: 75px;
    height: 40px;
    position: relative;
    top: 95px;
    left: 25px;
    border: none;
    align-items: center;
    cursor: url('../../Pokeball.cur'),auto;
}

.btnEv:hover {
    background: orangered;
}

.btnStats {
    position: relative;
    background: orange;
    width: 75px;
    height: 50px;
    top: 12px;
    left: 52px;
    border-radius: 5px;
    cursor: url('../../Pokeball.cur'),auto;
}

.btnStats2 {
    position: relative;
    background: orangered;
    border: none;
    width: 75px;
    height: 50px;
    top: 35px;
    left: -188px;
    border-radius: 5px;
    cursor: url('../../Pokeball.cur'),auto;
}

.btnStats:hover {
    background: orangered;
}

.btnEv2 {
    background: orangered;
    border: none;
    position: relative;
    left: 190px;
    top: 26px;
    width: 75px;
    height: 40px;
    border-radius: 5px;
    text-align: start;
    cursor: url('../../Pokeball.cur'),auto;
}