.imgPok {
    height: 150px;
 width: 200px;
 border-radius: 20px;
 /* background-color: rgba(0, 116, 0, 0.685);
 border: 1px solid black; */
}

.card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    align-items: center;
    background-color: rgb(165, 15, 15);
    border-radius: 20px;
    border: 1px solid white;
    height: 200px;
    width: 205px;
}

.title {
    color: white;
    margin: auto;
    margin-bottom: 5px;
    text-decoration: none;
}

.load{
    height: 50px;
    width: 50px;
}

.imgContainer {
    height: 150px;
    width: 200px;
    border-radius: 20px;
 background-color: rgba(0, 116, 0, 0.685);
 border: 1px solid black;
}