.contenedor {
    /* width: 100%; */
    display: flex;
    margin-left: 50px;}

.pokeDiv {
    display: flex;
    flex-direction: row;
    width: 75vw;
}

.poke {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    width: 70vw;
}

.inputSearch {
    background-color: transparent;
    padding: 10px;
    border: 1px solid white;
    outline: none;
    border-radius: 20px;
    color: white;
    margin-left: 2vw;
}

.inputSearch:focus {
    background-color: black;
    color: white;
}

.form-container {
    display: flex;
    margin: auto;
}

.searchContainer {
    display: flex;
    margin: 10px;
}

.btnSearch {
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: black;
}

.btnSearch:hover {
    background-color: tomato;
}

.loadContainer {
    align-self: center;
    display: flex;
    height: 300px;
}

.allHome {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

.loading {
    margin: auto;
}

.noTxt {
    color: black;
    margin: auto;
}

.noContainer {
    display: flex;
    margin: auto;
    height: 150px;
    width: 65vw;
}
.all {
    display: flex;
}

/* .filterContainer {
    border: 3 px solid red;
} */

.btnPoke {
    top: 90px;
    margin-top: 30px;
    background-image: url('../../Images/pokeicon.png');
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    position: sticky;
}

/* .divGame {
    display: flex;
} */